body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url(https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-content: center;
}
#backing{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 450px;
    height: 670px;
    background-color: rgba(138, 138, 138, 0.507);
    margin: 50px, auto;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-gap: 3px;
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}

.big{
    grid-column: span 2;
}
.display{
    grid-column: 1 / -1;
    background-color: rgba(238, 238, 238, 0.8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    border: 2px solid black;
}
.display .prevNum{
    color: rgb(100, 100, 100);
    font-size: 1.75rem;
}

.display .currentNum{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2rem;
}
button{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
.operator{
    background-color: hsla(39, 97%, 50%, 0.692);
}
#clear{
    background-color: rgb(212, 12, 12, 0.7);
}
#equals{
    background-color: rgb(36, 94, 219, 0.7);
}
.digit{
    background-color: rgba(128, 128, 128, 0.7);
}
#clear:hover{
    background-color: rgba(139, 5, 5, 0.7);;
}
.digit:hover{
    background-color: rgba(77, 76, 76, 0.7);
}
.operator:hover{
    background-color: hsla(39, 97%, 28%, 0.692);
}
#equals:hover{
    background-color: rgba(18, 56, 136, 0.7);
}
button:hover{
    background-color: rgba(192, 191, 191, 0.7);
}
button:active{
    transform: translate(0px, 1px);
    box-shadow: 0px 1px 2px 0px black;
}