body{
    background-color: black;
}
#container{
   width: 1000px;
   height: 550px;
   margin: 50px auto;
   background-image: url(https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg);

}
.calculator{
    width: 320px;
    height: 520px;
    background-color: rgba(150, 154, 155, 0.685);
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 10px 30px black;
}
#result{
    height: 110px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 10px;
    

}
#history{
    text-align: right;
    height: 15px;
    margin: 0 20;
    padding-top: 5px;
    font-size: 15px;
    color: grey;
}
#output{
    text-align: right;
    height: 65px;
    margin: 5px 20px;
    font-size: 40px;
    font-weight: bolder;
}
.keys{
    height: 390px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 3px;
    border-radius: 5px;
    padding: 10px;
}
button{
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}
#equals{
    grid-column: 4;
    grid-row: 4 / span 2;
    background-color: rgba(47, 47, 175, 0.658);
}
#clear{
    grid-column-start: 4;
    grid-row: 2 / span 2;
    background-color: rgba(173, 17, 17, 0.5);
}
#sign{
    grid-column: 1;
    grid-row: 5;
}
.operator{
    background-color: rgba(255, 145, 0, 0.555);
}
.digit{
    background-color: rgba(128, 128, 128, 0.623);
}
.other-buttons{
    background-color: rgba(255, 255, 255, 0.479);
}

button:active{
    font-size: large;
}